<%= form_with(model: diretorio) do |form| %>
  <% if diretorio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(diretorio.errors.count, "error") %> prohibited this diretorio from being saved:</h2>

      <ul>
        <% diretorio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :path, style: "display: block" %>
    <%= form.text_field :path %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
