<%= form_with(model: diretorio) do |form| %>
  <% if diretorio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(diretorio.errors.count, "erro(s)") %> impedem que o diretório seja salvo:</h2>

      <ul>
        <% diretorio.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nome", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :path, "Caminho", style: "display: block" %>
    <%= form.text_field :path %>
  </div>

  <div>
    <%= form.submit 'Salvar Diretório'%>
  </div>
<% end %>
