<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">USP Share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to '<i class="bi bi-house-door"></i> Menu' .html_safe, menu_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
        <%= link_to '<i class="bi bi-search"></i> Buscar' .html_safe, buscar_path, class: "nav-link active me-3" %>
        </li>
        <% if not !Current.user %>
          <li class="nav-item">
            <%= link_to '<i class="bi bi-folder"></i> Seus Diretórios' .html_safe, '/meusDiretorios', class: "nav-link active me-3" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-pencil-square"></i>
            ADM
          </a>
          <ul class="dropdown-menu bg-dark text-white">
            <li><%= link_to '<icon class="bi bi-folder"/>  Diretórios' .html_safe, diretorios_path, class: "nav-link active" %></li>
            <li><%= link_to '<icon class="bi bi-book"/>  Matérias' .html_safe, subjects_path, class: "nav-link active" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-globe"></i>
            Campi
          </a>
          <ul class="dropdown-menu bg-dark text-white">
            <li><%= link_to '<icon class="bi bi-folder"/>Campi' .html_safe, campi_path, class: "nav-link active" %></li>
          </ul>
        </li>
        <li class="nav-item">
        <%= link_to '<i class="bi bi-browser-safari"></i> About Us' .html_safe, about_path, class: "nav-link active" %>
        </li>
      </ul>
      <form class="d-flex text-white" role="search">
          <% if Current.user %>
            <%= link_to '<i class="bi bi-file-earmark-person me-2"></i>Perfil' .html_safe, perfil_path, class: "nav-link active me-3 perfilUser" %>
          <% else %>
            <%= link_to '<i class="bi bi-box-arrow-in-right me-2"></i>Login' .html_safe, login_path, class: "nav-link active me-3" %>
            <%= link_to '<i class="bi bi-door-open me-2"></i>Cadastro' .html_safe, signup_path, class: "nav-link active me-3" %>
          <% end %>
      </form>
      <% if not !Current.user %>
      <%= button_to '<i class="bi bi-box-arrow-in-right me-2"></i>Deslogar' .html_safe, logout_path, method: :delete, class: "nav-link active me-3" %>
      <% end %>
    </div>
  </div>
</nav>
